<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" id="mfn-fonts-css" href="https://fonts.googleapis.com/css?family=Poppins%3A1%2C300%2C400%2C400italic%2C500%2C700%2C700italic&amp;display=swap&amp;ver=5.8" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
</head>
<body>
    <div class="login-main">
        <div class="left-side">
            <div class="logo">
                <img src="css/images/edited01.png" alt="">
            </div>
            <div class="img">
                <img src="css/images/reg-page-img-removebg-preview.jpg" alt="">
            </div>
        </div>
        <div class="right-side a">
             <div class="form">
                <h1>Login Form</h1>
                <p>If you are not registered? <a href="registration_page.html">click here for Registration</a></p>
        
                <form action="" method="post">
                    
                    <span class="fa fa-text-width"> 
                        <input type="text" name="emailid" id="email_id" placeholder="Username/Phone/Email">
                    </span>
                    <br>
                    
                    <span class="fa fa-lock"> 
                        <input type="password" name="password" id="password" placeholder="Your password">
                    </span>
                    <br>
    
                    <input class="btn1" type="submit">
                    <br><br>
                    
                    <a href="">forgot password?</a>
                    <hr><br>
                
                </form>
    
                <h3>or you can join with</h3>
                    <div class="icons">
                        <a href="#" class="fa fa-google fa-2x" style="color: #db3236 ;"></a>
                        <a href="#"class="fa fa-facebook fa-2x" style="color: #0866FF;"></a>
                        <a href="#"class="fa fa-twitter fa-2x" style="color: #26a7de;"></a>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>